
@media (max-width: 600px) {
  .main {
    padding: 48px 24px;
  }


}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }

  .main {
    --background: #000;
    --foreground: #000;

    --text-primary: #ededed;
    --text-secondary: #999;

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
    --button-secondary-border: #1a1a1a;
  }
}
